<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QP_Code_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FrameQR_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <QP_Code_Generator.Properties.Settings>
      <setting name="SaveTo" serializeAs="String">
        <value />
      </setting>
      <setting name="FQR" serializeAs="String">
        <value>https://HostUrl/api/FrameQR</value>
      </setting>
      <setting name="SQRC" serializeAs="String">
        <value>https://HostUrl/api/sqrc</value>
      </setting>
      <setting name="DSQRC" serializeAs="String">
        <value>https://HostUrl/api/SQRCdecode</value>
      </setting>
      <setting name="DFQR" serializeAs="String">
        <value>https://HostUrl/api/FQRdecode</value>
      </setting>
      <setting name="BFQR" serializeAs="String">
        <value>https://HostUrl/api/SQRCBulk</value>
      </setting>
      <setting name="BSQRC" serializeAs="String">
        <value>https://HostUrl/api/FrameQRBulk</value>
      </setting>
      <setting name="APIURL" serializeAs="String">
        <value>https://AuthUrl/cert/api/token</value>
      </setting>
      <setting name="APIKEY" serializeAs="String">
        <value>ApiKeyHere</value>
      </setting>
      <setting name="HOSTURL" serializeAs="String">
        <value>HostUrl</value>
      </setting>
      <setting name="SQRCKEY" serializeAs="String">
        <value>0123456789ABCDEF</value>
      </setting>
    </QP_Code_Generator.Properties.Settings>
    <FrameQR_Generator.Properties.Settings>
      <setting name="SaveTo" serializeAs="String">
        <value />
      </setting>
    </FrameQR_Generator.Properties.Settings>
  </userSettings>
</configuration>